body, html {
    height: 100%;
    font-size: 13px;
    position:relative;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.layui-layout-body {
    height: 100%;
    overflow: auto;
    display:flex;/*Flex����*/
    display: -webkit-flex; /* Safari */
    align-items:center;/*ָ����ֱ����*/
}
.login-container{
    width: 100%;
}
.layadmin-user-login {
    position: relative;
    left: 0;
    top: 0;
    padding: 0 0 60px 0;
    max-height: 100%;
    box-sizing: border-box
}
.layadmin-center{
    padding: 0 ;
    margin-bottom: 100px;
    height: 200px;
    background-color: #f4f4f4;
    box-sizing: border-box
}

.layadmin-user-login-main {
    width: 375px;
    margin: 0 auto;
    box-sizing: border-box
}

.layadmin-user-login-box {
    padding: 20px
}

.layadmin-user-login-header {
    text-align: center
}
.layadmin-user-login-header h2 {
    margin-bottom: 10px;
    font-weight: 300;
    line-height: 30px;
    font-size: 30px;
    color: #000
}
.layadmin-user-login-header h3 {
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 20px;
    color: #000
}

.layadmin-user-login-header p {
    font-weight: 300;
    color: #999
}
.contact-us {
    text-align: center;
}
.contact-us a{
    font-weight: 300;
    color: #999;
}
.contact-us a:hover {
    font-weight: 300;
    color: #555;
}
@media screen and (max-width: 768px) {
    .layadmin-user-login {
        padding-top: 80px
    }
    .layadmin-user-login-main {
        width: 300px
    }
}